body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

label {
	margin: 10px;
}

input[type="number"] {
	width: 50px;
}

select {
	width: 100px;
	margin: 10px;
}

button {
	margin: 10px;
}

#classes {
	margin: 20px;
}

#classes div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

#classes div span {
	margin-right: 10px;
	font-weight: bold;
}

#gpa {
	text-align: center;
	font-weight: bold;
	margin: 20px;
}
