@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap');
$color: #FFFFFF;
@mixin font {
  font: 18px/1.5 'IBM Plex Mono', monospace;
}
* {
  box-sizing: border-box;
}
::selection {
  background: darken($color, 10%);
  color: white;
}
html, body {min-height: 100%}
body {
  background-color: #222222;
  color: white;
  text-align: center;
  @include font;
}
h1 {
  color: white;
  letter-spacing: -0.03em;
  margin-bottom: 0;
  text-shadow: 0 .25em 0.5em rgba(0,0,0,0.4);
}
.desc {
  color: white;
  margin-top: 0;
  text-shadow: 0 .25em 0.5em rgba(0,0,0,0.4);
}
.generator {
  background-color: rgba(0,0,0,0.8);
  border: 1px solid white;
  border-radius: 2em; 
  box-shadow: 0 1em 3em -1.25em rgba(0,0,0,0.6);
  margin: 0 auto 2em;
  max-width: 50vw;
  @media screen and (max-width: 900px) {
    max-width: 67vw;
  }
  @media screen and (max-width: 700px) {
    max-width: 75vw;
  }
  @media screen and (max-width: 500px) {
    max-width: calc(100% - 2em);
  }
  padding: 1em 2em;
}
section {
  padding: 0.5em;
}
label {
  color: white;
  display: block;
  font-weight: bold;
  margin-bottom: 0.25em;
  text-align: left;

  letter-spacing: 0.25px;
}

.download,
button,
input,
textarea {
  border: 1px solid white;
  border-radius: 50em;
  height: 2em;
  @include font;
  &:focus {
    outline: none;
    box-shadow: 0 0 4px 2px rgba(255,255,255,0.5);
  }
}
input,
textarea {
  background-color: rgba(255,255,255,0.75);
  box-sizing: content-box;
  color: #333;
  text-indent: 0.5em;
  &[type="text"] {
    text-indent: 1em;
  }
}
input {
  display: inline-block;
  width: 100%;
}
textarea {
  border-radius: 1em;
  height: 6.5em;
  padding: 0.25em 0.75em;
  text-indent: 0;
  width: calc(100% - 1.5em);
}
button,
.download {
  background-color: white;
  color: black;
  font-weight: bold;
  margin: 0.5em;
  padding: 0 0.75em;
}

.download {
  align-items: center;
  background-color: lighten(white, 5%);
  display: inline-flex;
  text-decoration: none;
}
.hide {
  display: none;
