/* HOME PAGE */  
body {
    color: #000;
    background-color: #f4f4f4;
    transition: background-color 1s ease;
  }
  
  /* panel styles */
  .panel {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
  }
  
  /* page colors */
  .color-violet {
    background-color: #b881f8;
  }
  .color-indigo {
    background-color: #8f83f8;
  }
  .color-blue {
    background-color: #81befa;
  }
  .color-green {
    background-color: #a4e09e;
  }
  .color-yellow {
    background-color: #fcf17d;
  }
  .color-orange {
    background-color: #f3b980;
  }
  .color-red {
    background-color: #f77d87;
  }
  .color-grey {
    background-color: #dbdbdb;
  }
  
 /* FLASH CARDS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
  text-align: center;
}

body{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #d8ffd6;
}

button{
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: whitesmoke;
}

button:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.container{
  width: 1280px;
  margin: auto;
}

header{background-color: #d8ffd6;}

#header{
  text-align: center;
  padding-top: 8%;
}

#header button{
  font-family: inherit;
  border: 1px solid rgb(0, 0, 0);
}

#create_card{
  display: none;
  width: 370px;
  margin:auto;
  padding: 20px;
  margin-top: 10px;
  background: whitesmoke;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

#create_card h2{
  color: black;
  text-align: center;
}

#create_card textarea{
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  border: 1px solid lightgray;
  resize: none;
}

#create_card button{width: fit-content;}

#flashcards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0px 10px;
}

.flashcard{
  width: 370px;
  height: 200px;
  word-wrap: break-word;
  margin: 10px; 
  background:#fff;
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
  position: relative;
}

.flashcard h2{font-size: 1rem;}

.fa-minus{
  top: 3%;
  right: 2%;
  position: absolute;
  color: #1a1a1a;
  transition: 0.3s ease-out;
}

.fa-minus:hover{color: #d8ffd6;}

@media(max-width:1280px){
  .container{width: 100%;}
}

@media(max-width:768px){
  .flashcard{margin: auto;}

  .flashcard{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media(max-width:480px){
  #header{
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  #create_card{width: 95%;}

  .flashcard{width: 100%;}

}


/* POMODORO TIMER*/

/* Start Stop and Reset Buttons*/
.button-1 {
  transition: background-color 0.5s ease-in-out 0s;
  padding-bottom: 12px;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 300;
  color: white;
   background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

  }
  .button-1:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }


/* Pomodoro Short Break and Long Break buttons*/
  .button-2 {
  font-size: 14px;
  }

/*Timer*/
.displaytime {
    font-size: 50px;
    color: white;
    font-weight: 800;
}

.jc-center {
    justify-content: center;
}
.ta-center {
    text-align: center;
}

.longshort {
   border-radius: 25px;
   justify-content: center;
   align-items: center;
   padding-top: 2%;
   margin: 0 auto;

}

/* Timer Clock and Buttons*/
.fulltime {
    border-radius: 25px;
   justify-content: center;
   width: 400px;
   height: 125px;
   padding-top: 20%;
   margin: 0 auto;
   align-items: center;
}

.maintitle {
  font-size: 72px;
}


.buttonflash {
  border: 4px solid rgb(255, 255, 255);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

/* TODO LIST*/
.todo-list {
  font-family: Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
}

.todo-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.todo-list form {
  display: flex;
  margin-bottom: 20px;
}

.todo-list form input[type="text"],
.todo-list form input[type="datetime-local"],
.todo-list form button {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.todo-list form input[type="text"],
.todo-list form input[type="datetime-local"] {
  flex-grow: 1;
}

.todo-list form button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.todo-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-list li input[type="checkbox"] {
  margin-right: 10px;
}

.todo-list li span {
  font-size: 16px;
  margin-right: auto;
}

.todo-list button {
  background-color: #c2c2c2;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.todo-list button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
