.pmt-page {
    background-color: rgb(230, 187, 187);

}

/* Start Stop and Reset Buttons*/
.button-1 {
    border: 0;
    cursor: pointer;
    background: #FCFCFD;
    padding: 0 44px;
    font-size: 18px;
    border-radius: 4px;
    color: #36395a;
    :hover {
    transform: translateY(-2px);
    }
  }
  .button-1:hover {
    background-color: #dee3ec;
    color: #fff;
  }

/* Pomodoro Short Break and Long Break buttons*/
  .button-2 {
    border: none;
    color: rgb(255, 255, 255);
    margin: 0px;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    background: none;
    box-shadow: none;
    font-weight: 300;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  .button-2:hover {
    background-color: #dee3ec;
    color: #fff;
  }

/*Timer*/
.displaytime {
    font-size: 50px;
    color: white;
    font-weight: 800;
}

.jc-center {
    justify-content: center;
}
.ta-center {
    text-align: center;
}

.longshort {
   border-radius: 25px;
   justify-content: center;
   align-items: center;
   padding-top: 2%;
   margin: 0 auto;

}

/* Timer Clock and Buttons*/
.fulltime {
    border-radius: 25px;
   justify-content: center;
   width: 400px;
   height: 125px;
   padding-top: 20%;
   margin: 0 auto;
   align-items: center;
}
