header {
    font-family: "Arial Rounded MT Bold", Helvetica, sans-serif
    font-weight: bold;
   font-size: xxx-large;
   position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
}
body {
background-color: #ace7ff;
}

.hme-btn {
    color: rgb(255, 255, 255);
    text-decoration: none;
    top: 50%;
    left: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

.hme-btn:hover{
    text-decoration: underline;
}